workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "f1faaf87-780c-4634-b1ba-1bc52dd8f2c5",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "const dates = [];\nconst today = new Date();\n\nfor (let i = 1; i <= 7; i++) {\n  const date = new Date(today);\n  date.setDate(today.getDate() + i);\n  dates.push(date.toISOString().split('T')[0]);\n}\n\nreturn [\n  {\n    json: {\n      city: \"Samara\",\n      dates: dates  // <-- массив\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "48f1061b-74b7-49e8-b3d1-e17e5b809637",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/predict",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "city",
              "value": "={{ $json.city }}"
            },
            {
              "name": "dates",
              "value": "={{ $json.dates }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        416,
        0
      ],
      "id": "0110adcc-bfb3-4865-bd68-5d6d0c6fc908",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const city = $json.city;\nconst preds = $json.predictions;\n\nlet msg = `👋 Привет! Вот прогноз погоды для города ${city} на ближайшую неделю:\\n\\n`;\n\nfor (const p of preds) {\n  msg += `📅 ${p.date}\\n`;\n  msg += `   🌡️ Температура: ${p.temperature.toFixed(1)}°C\\n`;\n  msg += `   ↕️ Диапазон: от ${p.lower_bound.toFixed(1)}°C до ${p.upper_bound.toFixed(1)}°C\\n`;\n  \n  \n  if (p.temperature > 20) {\n    msg += `   ☀️ Тепло, можно наслаждаться прогулками!\\n\\n`;\n  } else if (p.temperature > 5) {\n    msg += `   🧥 Прохладно, советуем взять лёгкую куртку.\\n\\n`;\n  } else {\n    msg += `   ❄️ Холодно, одевайтесь теплее!\\n\\n`;\n  }\n}\n\nreturn [{\n  json: {\n    message: msg,\n    chat_id: \"YOUR_TELEGRAM_CHAT_ID\",\n    disableBranding: true\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "07bace01-b2cf-46a9-b59e-9fb8b83b55ec",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "chatId": "710434465",
        "text": "={{$json.message}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        832,
        0
      ],
      "id": "482d3a5c-a2a6-4198-aadb-b38b6ca1124b",
      "name": "Send a text message",
      "webhookId": "0eeffaed-b979-4291-8a68-230ace943027",
      "credentials": {
        "telegramApi": {
          "id": "uAWkyUWl5VEURAcK",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "70e16ae2-dc03-480d-b30a-4562ae32f96e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "86ede0019501cdf5cae40b7550aabb66fe1c5c8fea0c732d73926c8c3729deb1"
  },
  "id": "Za7z2xhVpObXKDPH",
  "tags": []
}